.login-page {
  background-color: rgb(24, 36, 49);
  height: 100vh;
}

.login-page h1,
.login-page h5 {
  color: white;
}
.login-form {
  width: 50% !important;
  margin: auto;
}
@media only screen and (max-width: 666px) {
  .login-form {
    width: 95% !important;
  }
}
