.main-banner {
  background-color: rgb(24, 36, 49);
}
.banner-carousel {
  height: 350px;
}
.main-banner h2 {
  background-color: rgb(48, 85, 128);
  padding: 20px;
}
.main-banner ul {
  padding: 0 10px;
}
.main-banner ul li {
  list-style: none;
  padding: 7px 0;
  margin: 7px 0;
  background-color: rgb(48, 48, 92);
  width: 90%;
  border-radius: 0 20px 20px 0;
}
.main-banner ul li:hover {
  transform: scaleY(1.15);
  transform: scaleX(1.02);
}
